table,
th,
td {
    border: 1px solid whitesmoke;
    border-collapse: collapse;
}

th,
td {
    background-color: #B4B897;
}

hr {
    background-color: white;
    border-style: none;
    /* <!--After applying this border becomes invisible . i.e it becomes a box of height 0--> */
    height: 2px;
}